@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$textColor: rgba(255,255,255, 0.8);
$textColorHover: rgb(90,0,0);

a:link {
    color: $textColor;
}

a:visited {
    color: $textColor;
}

a:hover {
    color: $textColorHover;
}

a:active {
    color: $textColorHover;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  font-size: 0.75em;
  font-style: normal;
}

.container {
  @include border-radius(4px);
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(50,75,115,0.2);
  color: $textColor;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.examples {
  @extend .container;
  background-color: rgba(50,65,115,0.2);
}

.instructions {
  @extend .container;
}

.title {
  @extend .container;
}
